* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 60px;
  padding: 10px;
  color: #4f4f4f;
  background-color: #eaeaea;
}
.header-left span,
.header-right span {
  font-size: 12px;
}
.header-left span a i {
  color: #41c2fa;
}
.header-middle span a i {
  padding: 0 7px;
}
.header-right span a i {
  padding: 0 10px;
  color: #41c2fa;
}

nav .logo {
  width: 230px;
  height: 50px;
  cursor: pointer;
  
}
.nav-right span a i {
  color: grey;
  padding: 0 10px;
}
.carousel-comp {
  background-image: url("maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 600px;
  filter: drop-shadow(1px 1px 4px rgb(158, 181, 171));
}
.image-text {
  position: absolute;
  top: 240px;
  left: 100px;
  text-transform: capitalize;
}

.image-text h3 span {
  color: #ffffff;
  background-color: #41c2fa;
  padding: 0 15px;
  border-radius: 50px;
}
.image-text p span {
  padding: 2px 20px;
  border-radius: 50px;
  color: #0092d0;
  font-weight: 500;
  background-color: #fff;
}

.image-text .link1 {
  background-color: #41c2fa;
  padding: 7px 10px;
  border-radius: 50px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}
.image-text .link1:hover {
  background-color: #86bf00;
}

.image-text .link2 {
  background-color: #000000;
  padding: 7px 10px;
  border-radius: 50px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}
.image-text .link2:hover {
  background-color: blueviolet;
}
.card-section {
  position: relative;
  bottom: 100px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.card1 div {
  color: #fff;
  background-color: #41c2fa;
  padding: 40px 10px;
  border-radius: 0 50px 0 50px;
}
.card1 button {
  border: none;
  padding: 4px 10px;
}
.card2 div {
  color: #fff;
  background-color: #1979a9;
  padding: 40px 10px;
  border-radius: 0 50px 0 50px;
}
.card2 button {
  border: none;
  padding: 4px 10px;
}
.card3 div {
  color: #fff;
  background-color: #084863;
  padding: 33px 10px;
  border-radius: 0 50px 0 50px;
}
.card3 button {
  border: none;
  padding: 4px 10px;
}
.card4 div {
  color: #fff;
  background-color: #063970;
  padding: 17px 10px;
  border-radius: 0 50px 0 50px;
}

div .date-left {
  float: left;
}
div .date-right {
  float: right;
}
